*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

button:active, button:focus 
{
    outline: none;
}

button::-moz-focus-inner 
{
    border: 0;
}

.header
{
    display: flex;
    margin: 15px auto 140px auto;
    width: 1800px;
    height: 100px;
}

.background
{
    background: url(../images/main_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 25px auto 25px auto;
}

body 
{
    background-size: 100%;
    background-color: #000;
}
  
.bgvideo 
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 80%;
    min-height: 100%;
    z-index: -9999;
    opacity: .4;
}

.is_overlay{ display: block; width: 100%; height: 100%; }
#trailer {
position: fixed;
top: 0; right: 0; bottom: 0; left: 0;
overflow: hidden;
}

#trailer > video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.menu_background
{
    display: flex;
    justify-content: space-between;
    left: 10%;
    background-color: #F5F5DC;
    z-index: 4;
    opacity: 0.6;
    align-items: center;
    margin: 0 auto;
    width: 1800px;
}

.logo_image
{
    width: 200px;
    height: 75px;
    padding: 40px;
}

.menu
{
    width: 900px;
    line-height: 22px;
    display: inline-block;
}

.menu_item
{
    display: inline-block; 
    font-style: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding-left: 80px;
    font-size: 20px;
}
    
.menu_item:after 
{
    display: block;
    content: "";
    height: 2px;
    width: 0%; 
    background-color: #f4a460;
    transition: width 0.4s ease-in-out;
}

.menu_item:hover:after,
.menu_item:focus:after 
{
    width: 100%;
}


.menu_basket
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-items: center;
    padding: 0 10px;
}

.greeting
{
    text-align: center;
    color:#ffffff;
    margin: 0 auto;
}

.greeting_title
{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.greeting_subtitle
{
    font-size: 26px;
    margin-bottom: 140px;
    font-weight: normal;
}

.greeting_button
{
    width: 400px;
    background-color: #f4a460;
    padding: 25px 180px;
    border-radius: 50px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
}

.greeting_number
{
    display: block;
    font-weight: normal;
    width: 800px;
    text-transform: uppercase;
    margin: 140px auto;
    font-size: 43px;
    line-height: 70px;
    text-decoration: none;
    color: #fff;
}

.greeting_arrow {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 30px auto 230px auto;
    cursor: pointer;
}
.greeting_arrow:before,
.greeting_arrow:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 16px solid #fff;
    border-bottom: 16px solid #fff;
    animation: greeting_arrow 3s linear infinite;
}
.greeting_arrow:after {
    animation: greeting_arrow 3s linear infinite -1.5s;
}
@keyframes greeting_arrow {
    0% {
        opacity: 0;
        transform: translate(0, -53px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, 53px) rotate(-45deg);
    }
}

.fresh_food
{
    margin: 0 auto;
}

.fresh_food_title
{
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    margin: 0 auto 150px auto;
}

.slider
{
    margin: 250px auto;
    width: 850px;
    position: relative;
}

.slick-image
{
    width: 650px;
}


.slick-slide img
{
    width: 850px;
}

.slide
{
    width: 850px;
}

.slide-text
{
    color: #ffffff;
    font: 600 32px/36px 'Montserrat', sans-serif;
    text-align: center;
    padding: 15px;
}

.slick-prev, 
.slick-next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -100px;
    border: none;
    cursor: pointer;
}

.slick-prev img,
.slick-next img
{
    width: 50px;
    height: 50px;
}

.slick-prev
{
    background-image: url('../images/slider/left_arrow.svg');
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.slick-next
{
    background-image: url('../images/slider/right_arrow.svg');
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.slick-next
{
    position: absolute;
    right: -12%;
    left: auto;
}

.product
{
    margin: 150px auto;
}

.product_title
{
    text-align: center;
    color: #fff;
    font: 700 32px/30px 'Montserrat', sans-serif;
    width: 850px;
    margin: 100px auto;
}

.product-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;
    width: 1135px;
    margin: 0 auto;
}

.grid-image
{
    width: 100px;
    height: 85px;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.grid-title
{
    color: #ffffff;
    font: 700 20px/25px 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.grid_subtitle
{
    color: #ffffff;
    font: 400 16px/20px 'Montserrat', sans-serif;
    width: 250px;
    margin: auto;
}

.catalog
{
    margin: 150px auto;
}

.hidden{
    opacity:0;
}

.visible
{
    opacity:1;
}

.catalog_main-title
{
    color: #ffffff;
    font: 700 32px/36px 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.grid-catalog
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

.catalog_item
{
    background-color: #f4a460;
    width: 250px;
    border-radius: 10px;
}

.catalog_image
{
    width: 200px;
    padding: 20px;
    border-radius: 25px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.catalog_image:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.fancybox-title, .fancybox-title-float-wrap, .child
{
    visibility: hidden;
}


.catalog_title
{
    padding: 5px;
    font: 700 16px/20px 'Montserrat', sans-serif;
}

.catalog_description
{
    padding: 15px;
    text-align: left;
}

.catalog_structure
{
    padding: 15px;
    text-align: left;
}

.catalog_cost
{
    font: 700 21px/26px 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

.order_button
{
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #fff;
    font: 400 24px/30px 'Montserrat', sans-serif;
    margin-bottom: 25px;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    background-image: linear-gradient(transparent 50%, rgb(224, 211, 211) 50%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    transition: .2s;
}

.order_button:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: rgb(26, 25, 25);
    background-position: 0 100%;
}

.delivery
{
    margin: 150px auto;
}

.delivery_main
{
    font: 700 36px/60px 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;

}

.delivery_title
{
    font: 700 36px/40px 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0 auto 120px auto;
}

.footer
{
    height: 150px;
    background-color: #f4a460;
    margin: 0 auto;
    width: 1800px;
    display: flex;
    justify-content: space-around;
}

.order_phone
{
    width: 400px;
    float: left;
    padding: 25px;
}

.phone_image
{
    float: left;
    width: 30px;
    padding-right: 10px;

}

.text_phone
{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font: 500 18px/20px 'Montserrat', sans-serif;
}

.faq_button
{
    margin-top: 20px;
    border: #000 solid 3px;
    border-radius: 25px;
    padding: 10px 25px;
    background-color: #f4a460;
    vertical-align: bottom;
    font: 500 18px/12px 'Montserrat', sans-serif;
    cursor: pointer;
}


.footer_logo
{
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

.copyright
{
    margin-top: 10px;
    font: 500 17px/20px 'Montserrat', sans-serif;
}

.footer_info
{
    float: right;
    width: 270px;
    padding: 25px;
}

.footer_image
{
    width: 200px;
    text-align: center;
}

.info_title
{
    margin-bottom: 10px;
    font: 600 16px/20px 'Montserrat', sans-serif;
}

.info_subtitle
{
    font: 500 14px/20px 'Montserrat', sans-serif;
}

.overlay
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .6)
}

.modal
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 440px;
    background: #E5E5E5;
    min-height: 447px;
    z-index: 20;
    padding: 25px;
}

.modal_form
{
    justify-content: center;
    width: 440px;
    margin: 0 auto;
}

.modal_close
{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.modal_title
{
    font: 500 26px/31px 'Montserrat';
    text-align: center;
    color: #000000;
    margin-bottom: 33px;
}

.modal_image
{
    width: 244px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.modal_text
{
    border: 1px solid #C0C0C0;
    margin-bottom: 20px;
    width: 400px;
    padding: 15px;
    font-size: 16px;

}

.modal_textarea
{
    max-width: 400px;
    min-width: 400px;
    padding: 15px;
    font-size: 16px;
    border: none;
}

.feedback_confirm
{
    padding: 15px 0;
}

.feedback-checkbox 
{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

label
{
    cursor: pointer;
}

.feedback-checkbox+label 
{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.feedback-checkbox+label::before 
{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}


.feedback-checkbox:not(:disabled):not(:checked)+label:hover::before 
{
    border-color: #f4a460;
}

.feedback-checkbox:not(:disabled):active+label::before 
{
    background-color: #f4a460;
    border-color: #f4a460;
}

.feedback-checkbox:focus+label::before 
{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.feedback-checkbox:focus:not(:checked)+label::before 
{
    border-color: #f4a460;
}

.feedback-checkbox:disabled+label::before 
{
    background-color: #f4a460;
}

.feedback-checkbox:checked+label::before 
{
    border-color: #f4a460;
    background-color: #f4a460;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

.modal_button
{
    background-color:#f4a460;
    color: #000000;
    font: 600 16px/17px 'Montserrat';
    width: 430px;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.agreement
{
    width: 80%;
    margin: 150px auto;
    background-color: #F5F5DC;
    padding: 25px;
    opacity: .7;
    color: #000;
}

.text-agreement
{
    color: #000;
    font-size: 18px;
}


#upbutton
{
    background: url("../images/upload.svg") no-repeat;
    height: 100px;
    width: 100px;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    transition: 0.5s all;
    animation: upbutton 2s linear infinite;
}

@keyframes upbutton {
    0% {
        opacity: 0;
        transform: translate(0, 53px);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 53px);
    }
}